@tailwind base;
@tailwind components;
@tailwind utilities;

.example {
  @apply border-gray-300 border rounded-lg bg-gray-100 p-6 text-center;
}

.v-popper__popper {
  z-index: 10
}

.v-popper--theme-_editor-tooltip .v-popper__inner {
  @apply text-sm;
}

.v-popper--theme-_editor-dropdown .v-popper__inner {
  @apply p-2;
}
